<!DOCTYPE html>
<html>
  <head>

    {% seo %}
    {% include meta.html %}
    {% include schema-person.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <!-- Google Fonts embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
         <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a> -->
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <!-- <p class="site-description">{{ site.description }}</p> -->
          </div>
          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about/">About</a>
            <a href="{{ site.baseurl }}/threads/">Threads</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div class="footer-column footer-column-1">
            <h3>About</h3>
            <p>Zero Echo is a personal journal by <a href="{{ site.baseurl }}/about/">Ant Sharman</a>.<br>
Views expressed are personal and do not represent any organisation.</p>
          </div>
          <div class="footer-column footer-column-2">
            <h3>Contact</h3>
            <p><a href="mailto:mailbox@evocatus.co.uk">mailbox@evocatus.co.uk</a></p>
          </div>
          <div class="footer-column footer-column-3">
            <h3>Links</h3>
            <p>
              <a href="https://www.linkedin.com/in/antsharman" title="Ant Sharman on LinkedIn">LinkedIn</a><br>
<a href="https://bsky.app/profile/zeroecho.uk" title="Ant Sharman on Bluesky">Bluesky</a><br>
<a href="{{ site.baseurl }}/feed.xml" title="RSS feed">RSS Feed</a>
            </p>
          </div>
        </footer>
        <div class="footer-copyright">
          <p>&copy; {{ 'now' | date: '%Y' }} Ant Sharman</p>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>